@import "../../../style/variables";
@import "../../../style/mixins";
.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $top_nav_height;
  & img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 135px;
    min-width: 100px;
  }
  @include tablet{
    justify-content: flex-start;
  }
}