@import "../../style/variables";

.register{
  padding-top: 50px;
  h4{
    margin: 30px 0 60px;
  }
  &__form{
    input, select{
      width: 100%;
      border: 1px solid #b7b7b7;
      border-radius: 4px;
      padding: 18px;
      outline: none;
      font-size: 16px;
      font-weight: 400;
      &:focus {
        outline: none;
        box-shadow: none;
        border: solid 1px #3352a2;
      }
    }
    &_select, &_input, &_upload{
      margin-top: 40px;
    }
    &_select{
      width: 100%;
      position: relative;
      display: inline-block;
      &:before{
        font-family: 'icomoon';
        content: "\e900";
        font-size: 16px;
        position: absolute;
        color: black;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
        box-sizing: border-box;
      }
    }
    &_upload{
      position: relative;
      display: flex;
      &-input{
        border-radius: 4px 0 0 4px!important;
        border-right: 0!important;

      }
      &-div{
        position: relative;
        overflow: hidden;
        border: 2px solid $accent;
        border-radius: 0 4px 4px 0;
        color: $accent;
        font-size: 20px;
        font-weight: 700;
        padding: 16px 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        &_input{
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          font-size: 20px;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
        }
      }
    }
    select{
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    ::placeholder{
      color: $link-color;
      font-size: 16px;
      font-weight: 400;
    }
    &_label{
      position: absolute;
      color: $link-color;
      font-size: 12px;
      background-color: #fff;
      padding: 3px;
      top: 30px;
      left: 30px;
    }
  }
}