@import '../../style/mixins';
@import '../../style/variables';

.btn{
  display: inline-block;
  color: #fefefe;
  font-size: 20px;
  font-weight: 700;
  line-height: 2;
  background-color: $accent;
  padding: 0 125px;
  border-radius: 4px;
  //text-decoration: none;
  border: none;
  @include transition;
  &:hover{
    background-color: lighten( $accent, 10% );
  }
  &:active{
    background-color: darken( $accent, 10% );
  }
  &__transparent{
    color: $accent;
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover{
      color: lighten( $accent, 10% );
      background-color: transparent;
    }
    &:active{
      color: darken( $accent, 10% );
      background-color: transparent;
    }
  }
  &__border{
    background-color: transparent;
    color: $accent;
    border: 2px solid $accent;
    &:hover{
      color: lighten( $accent, 10% );
      background-color: lighten( $accent, 40% );
      border: 2px solid lighten( $accent, 10% );
    }
    &:active{
      color: darken( $accent, 10% );
      background-color: transparent;
    }
  }
  &__submit{
    background-color: $accent;
    color: $bg-color;
    cursor: pointer;
    &:hover{
      color: $bg-color;
      background-color: lighten($accent, 10%);
    }
    &:active{
      color: $bg-color;
      background-color: lighten($accent, 10%);
    }
    &:disabled{
      background-color: #d7d7d7;
      color: $link-color;
      cursor: not-allowed;
      &:hover{
        color: $link-color;
        background-color: lighten(#d7d7d7, 5%);
      }
      &:active{
        color: $link-color;
        background-color: lighten(#d7d7d7, 5%);
      }
    }
  }
  @include mobile{
    padding: 0;
    width: 100%;
  }
}
