@import "../../style/variables";
@import "../../style/mixins";
.topnav{
  font-family: SourceSansPro, sans-serif;
  position: fixed;
  width: 100%;
  height: $top_nav_height;
  top: 0;
  background-color: $bg-color;
  z-index: 10;
  @include tablet{
    & .menu{
      display: none;
    }
  }
}