@import "../../style/variables";
@import "../../style/mixins";
.users{
  padding-bottom: 120px;
  @include desktop-lg{
    padding-bottom: 101px;
  }
  @include tablet{
    padding-bottom: 71px;
  }
  @include mobile{
    padding-bottom: 63px;
  }
  h2{
    margin: 137px 0 18px;
    @include tablet{
      margin: 116px 0 23px;
    }
    @include mobile{
      margin: 67px 0 19px;
    }
  }
  h4{
    margin-bottom: 62px;
    line-height: 1.2;
    @include tablet{
      margin-bottom: 40px;
    }
    @include mobile{
      text-align: center;
      max-width: 180px;
      margin: 0 auto 30px;
    }
  }
  &__show_more{
    text-align: center;
    margin-top: 0;
    @include tablet{
      margin-top: 9px;
    }
  }
}
.hidden{
  display: none;
}
#users {
  position: relative;
  border-top: 60px solid transparent;
  margin-top: -60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#users:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  border-top: 2px solid transparent;
}