@import "../../style/variables";
@import "../../style/mixins";
.users{
  padding-bottom: 7.5%;
  @include desktop-lg{
    padding-bottom: 105px;
  }
  h2{
    margin: 137px 0 21px;
    @include tablet{
      margin: 116px 0 23px;
    }
  }
  h4{
    margin-bottom: 62px;
    @include tablet{
      margin-bottom: 40px;
    }
  }
  &__show_more{
    text-align: center;
    margin-top: 0;
    @include tablet{
      margin-top: 9px;
    }
  }
}
.hidden{
  display: none;
}
#users {
  position: relative; /* важно - для того, чтобы псевдоэлемент позиционировался относительно этого элемента */
  border-top: 60px solid transparent;
  margin-top: -60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#users:before {
  content: "";
  position: absolute;
  top: -2px; /* равен по модулю толщине border */
  left: 0;
  right: 0;
  border-top: 2px solid transparent; /* собственно то, ради чего всё затевалось */
}