@font-face {
    font-family: "Helios";
    src: url("../fonts/HeliosRegular/HeliosRegular.eot");
    src: url("../fonts/HeliosRegular/HeliosRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosRegular/HeliosRegular.woff") format("woff"),
    url("../fonts/HeliosRegular/HeliosRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HeliosBlack";
    src: url("../fonts/HeliosBlack/HeliosBlack.eot");
    src: url("../fonts/HeliosBlack/HeliosBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosBlack/HeliosBlack.woff") format("woff"),
    url("../fonts/HeliosBlack/HeliosBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ds_motion_demoitalic';
    src: url('../fonts/ds_motion_demo-webfont/ds_motion_demo-webfont.woff2') format('woff2'),
    url('../fonts/ds_motion_demo-webfont/ds_motion_demo-webfont.woff') format('woff'),
    url("../fonts/ds_motion_demo-webfont/ds_motion_demo-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}


html {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    /*    background: #2c5ea4;*/
    color: #363636;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Helios, sans-serif;
    font-size: 25px;
    line-height: 1.6;
}

.wrapper {
    max-width: 1138px;
    margin: 0 auto;
}

header {
    background: #2c5ea4;
    position: relative;
    color: #faed00;
}

.header-content-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

}

.superman {
    background-image: url(../img/sm.png);
    background-size: contain;
    width: 35%;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.header-text {
    width: 65%;
}


/*
header:after {
    content: "";
    position: absolute;
    bottom: -5vh;
    height: 5vh;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom left, #2c5ea4 49%, transparent 50%);
}
*/

.header-skewed-bg {
    -webkit-transform: skew(0deg, 2deg);
    transform: skew(0deg, 2deg);
    margin-top: -200px;
    padding: 200px 0 20px;
    background-image: -webkit-gradient(linear, left top, right top, from(#f75e73), color-stop(30%, #bea0ac), color-stop(55%, #245aa6), to(#245aa6));
    background-image: linear-gradient(to right, #f75e73 0%, #bea0ac 30%, #245aa6 55%, #245aa6 100%);
    border-bottom: 3px solid #c20b19;
}

.header-text h1 {
    font-family: ds_motion_demoitalic, sans-serif;
    color: #faed00;
    font-size: 80px;
    font-style: italic;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    line-height: 1.1;
    text-align: center;
    /*        -webkit-text-stroke: 2px #f80000;*/
    text-shadow: -0 -5px 1px #F80000,
    0 -5px 1px #F80000,
    -0 5px 1px #F80000,
    0 5px 1px #F80000,
    -5px -0 1px #F80000,
    5px -0 1px #F80000,
    -5px 0 1px #F80000,
    5px 0 1px #F80000,
    -1px -5px 1px #F80000,
    1px -5px 1px #F80000,
    -1px 5px 1px #F80000,
    1px 5px 1px #F80000,
    -5px -1px 1px #F80000,
    5px -1px 1px #F80000,
    -5px 1px 1px #F80000,
    5px 1px 1px #F80000,
    -2px -5px 1px #F80000,
    2px -5px 1px #F80000,
    -2px 5px 1px #F80000,
    2px 5px 1px #F80000,
    -5px -2px 1px #F80000,
    5px -2px 1px #F80000,
    -5px 2px 1px #F80000,
    5px 2px 1px #F80000,
    -3px -5px 1px #F80000,
    3px -5px 1px #F80000,
    -3px 5px 1px #F80000,
    3px 5px 1px #F80000,
    -5px -3px 1px #F80000,
    5px -3px 1px #F80000,
    -5px 3px 1px #F80000,
    5px 3px 1px #F80000,
    -4px -5px 1px #F80000,
    4px -5px 1px #F80000,
    -4px 5px 1px #F80000,
    4px 5px 1px #F80000,
    -5px -4px 1px #F80000,
    5px -4px 1px #F80000,
    -5px 4px 1px #F80000,
    5px 4px 1px #F80000,
    -5px -5px 1px #F80000,
    5px -5px 1px #F80000,
    -5px 5px 1px #F80000,
    5px 5px 1px #F80000,
    -5px -5px 1px #F80000,
    5px -5px 1px #F80000,
    -5px 5px 1px #F80000,
    5px 5px 1px #F80000;
}

.header-text ol {
    /*    list-style-type: none;*/
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 60px;
    z-index: 1;
}

.header-text ol li::after {
    position: absolute;
    content: "\f005";
    font-family: FontAwesome;
    /*    color: rgba(250, 237, 0, .3);*/
    color: rgba(255, 255, 255, .6);
    font-size: 55px;
    top: -17px;
    left: -62px;
    z-index: -1;
}

.header-text ol li::before {
    position: absolute;
    left: -45px;
    top: 0;
    color: red;
    font-size: 30px;
    font-weight: bold;
    content: counter(custom) " ";
}

.header-text ol li {
    counter-increment: custom;
    position: relative;
}

.header-text ol li:first-child {
    counter-reset: custom;
}

.free {
    margin: 0;
    text-align: right;
    padding-right: 180px;
    font-weight: bold;
    background-image: -webkit-gradient(linear, left top, right top, from(#630d0c), color-stop(64%, #f80000), to(#f80000));
    background-image: linear-gradient(to right, #630d0c 0%, #f80000 64%, #f80000 100%);
}

.free p {
    margin: 0;
}

.cls-1,
.cls-2 {
    fill: #fff;
}

.cls-1 {
    fill-rule: evenodd;
}

.logo svg {
    position: relative;
    display: block;
    width: 300px;
    min-width: 100px;
    fill: #fff;
    margin-top: -60px;
}

section {
    background-color: #fff;
    color: #363636;
}

.header-content {
    -webkit-transform: skew(0deg, -2deg);
    transform: skew(0deg, -2deg);
    /*    text-align: center;*/
}

.text {
    color: #fff;
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
}

.text a {
    color: #fff;
}

.text a:hover {
    color: #d4d4d4;
}

.section {
    padding: 50px 0;
}

.section .yellow {
    margin-top: -55px;
    float: right;
    background-color: #faed00;
    width: 30%;
    padding: 55px 3% 3%;
    font-size: 21px;
    font-weight: bold;
}

.section .yellow h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}

.section .yellow p {
    text-align: center;
    margin-top: 0;
    color: #c20b19;
    font-weight: bold;
}

.section .white {
    background-color: #fff;
    padding: 0 3% 0;
    font-size: 22px;
}

.section .white ul li {
    color: #2c5ea4;
    font-weight: bold;
}

ul.step {
    list-style-type: none;
    margin-left: -22px;
}

ul span {
    color: #000;
    font-weight: normal;
}

.section .white h2 {
    margin-top: 0;
    font-size: 26px;
}

.section .white h4 {
    margin-top: 0;
    font-size: 22px;
    color: #c20b19;
    text-align: center;
}

.blue {
    color: #2c5ea4;
}

.footer-skewed-bg {
    padding: 0;
}

footer {
    background: #2c5ea4;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer:before {
    content: "";
    position: absolute;
    top: -5vh;
    height: 5vh;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, right top, left bottom, color-stop(49%, transparent), color-stop(50%, #2c5ea4));
    background: linear-gradient(to bottom left, transparent 49%, #2c5ea4 50%);
}

.foter-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*    width: 100%;*/
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 50px;
}

@media (max-width: 992px) {
    .superman {
        display: none;
    }
    .header-text {
        width: 100%;
        padding: 3%;
    }
    .header-text ol li::after {
        font-size: 52px;
        top: -16px;
    }
    .free {
        text-align: center;
        padding-right: 0;
    }
    .section .yellow {
        margin-top: -65px;
        float: none;
        width: auto;
    }
    .section .white h2 {
        text-align: center;
    }
    .foter-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding: 3%;
    }
    .logo svg {
        /*        position: relative;*/
        /*        display: block;*/
        width: 300px;
        min-width: 100px;
        fill: #fff;
        margin-top: 20px;
    }

}

@media (max-width: 768px) {
    body {
        font-size: 22px;
    }
    .header-text h1 {
        font-size: 55px;
    }
}

@media (max-width: 425px) {
    body {
        font-size: 18px;
    }
    .header-text h1 {
        font-size: 35px;
    }
}
