@import "../../../style/variables";
.inputPosition{
  position: relative;
  & option{
    padding: 18px;
    outline: none;
    font-size: 16px;
    &:checked{
      background: lighten($accent, 40%);
      color: $accent;
      z-index: 2;
    }
    &:hover{
      background: lighten($accent, 40%);
    }
  }
}
select:focus::-ms-value {
   background-color: gray;
   color: orange;
 }


