@import "../../style/variables";
@import "../../style/mixins";
.footer{
  background-color: $footer-bg;
  color: $bg-color;
  & a:hover{
    color: $accent;
  }
  .menu{
    justify-content: flex-end;
    &_link{
      color: $bg-color;
      &:hover{
        color: $accent;
      }
    }
  }
  &__container{
    border-bottom: 1px solid #6265ad;
  }
  &__nav{
    height: 84px;
    .logo{
      height: 100%;
    }
    .menu{
      height: 100%;
    }
  }
  padding-bottom: 30px;
  &__links{
    margin-top: 17px;
    & a{
      position: relative;
      color: $bg-color;
      padding-left: 36px;
      @include tablet{
        padding-left: 0;
      }
      font-size: 20px;
      font-weight: 400;
      line-height: 44px;
      &:before{
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        font-size: 25px;
        @include desktop-lg{
          font-size: 23px;
        }
        @include tablet{
          display: none;
        }
        top: 50%;
        transform: translateY(-55%);
      }
    }
    &-email:before{
      content: "\e907";
    }
    &-tel1:before{
      content: "\e908";
    }
    &-tel2:before{
      content: "\e901";
    }
  }
  &__icons{
    margin: 21px 0 0;
    @include desktop-lg{
      margin: 20px 0 0;
    }
    &-menu{
      display: flex;
      justify-content: flex-end;
      font-size: 26px;
      & li:not(:first-child){
        margin-left: 20px;
      }
      & a:hover span:before{
        @include transition;
        color: $accent;
      }
    }
    &-credits{
      white-space: nowrap;
      display: flex;
      height: 100%;
      justify-content: flex-start;
      align-items: flex-end;
      @include desktop-lg{
        align-items: center;
      }
      font-size: 12px;
      font-weight: 400;
    }
  }
  @include mobile{
    &__nav{
      height: auto;
      padding-top: 30px;
    }
    & .logo {
      justify-content: center;
    }
    & .menu{
      padding-top: 12px;
      height: auto;
      flex-direction: column;
      margin-bottom: 28px;
      &_link{
        margin-bottom: 3px;
      }
      & li{
        margin: 7px 0 0;
      }
    }
    & .social_menu{
      display: none;
    }
    &__links{
      text-align: center;
      margin-top: 19px;
      & a{
        padding-left: 0;
        font-size: 18px;
        line-height: 35px;
        &:before{
          display: none;
        }
      }
    }
    &__icons{
      text-align: center;
      margin-top: 18px;

      &-menu{
        justify-content: center;
        margin-bottom: 16px;
      }
      &-credits{
        justify-content: center;
      }
    }
  }
}