@import "../../../style/variables";
@import "../../../style/mixins";
.social_menu{
  text-align: right;
  margin-top: 21px;
  @include desktop-lg{
    margin-top: 20px;
  }
  & a{
    color: $bg-color;
    line-height: 30px;
  }
}