.acquainted{
  padding-bottom: 5%;
  h2{
    margin: 10% 0 3%;
  }
  h3{
    margin: 5% 0 2%;
    font-size: 26px;
    font-weight: 600;
  }
  &__img img{
    width: 100%;
    height: auto;
    display: block;
  }
  p{
    margin: 15px 0;
    line-height: 1.3;
  }
}